<% provide(:title, @user.name) %>
	<% if @bookings.present? %>
		<div class="container" style="padding-top: 40px;">
		<div class="center" style="font-size: 30px;">Your Bookings</div>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Number</th>
		      <th>Room Type</th>
		      <th>Room Number</th>
		      <th>Check In</th>
		      <th>Check Out</th>
		      <th>Price(in Rs.)</th>
		    </tr>
		  </thead>
		  <tbody>
		  <% @bookings.each_with_index do |booking,index|%>
		    <tr>
		      <th scope="row"><%= index + 1 %></th>
		      <td><%= booking.number%></td>
		      <td><%= booking.room.room_type.name%></td>
		      <td><%= booking.room.number%></td>
		      <td><%= booking.check_in%></td>
		      <td><%= booking.check_out%></td>
		      <td><%= booking.price%></td>
		    </tr>
		  <% end %>
		  </tbody>
		</table>
		</div>
		<% else %>
		<div class="container">No Booking available.</div>
	<% end %>
<div class="container">
<div class="row center">
  <%= link_to "Book now!", root_path, class: "btn btn-lg btn-success" %>
  </div>
</div>