<%= simple_form_for(@booking) do |f| %>
	<%= f.input :number, :as => :hidden, :input_html => {:value => ""} %>
	<%= f.input :check_in, :as => :hidden, :input_html => {:value => check_in} %>
	<%= f.input :check_out, :as => :hidden, :input_html => {:value => check_out} %>
	<%= f.input :price, :as => :hidden, :input_html => {:value => ""} %>
	<%= f.input :user_id, :as => :hidden, :input_html => {:value => ""} %>
	<%= f.input :room_id, :as => :hidden, :input_html => {:id => 'room_id',:value => ""}  %>

<% if (data[:response] == "OK") %>
	<div class="container" style="font-size: 30px;">
		Rooms available: <%= data[:total_rooms_available]%>
	</div>
	<div class="container">
		<%= render 'room_details.html', data: data, room_val: :deluxe_rooms_available if (data.key?(:deluxe_rooms_available)) %>
		<%= render 'room_details.html', data: data, room_val: :luxury_rooms_available if (data.key?(:luxury_rooms_available)) %>
		<%= render 'room_details.html', data: data, room_val: :luxury_suites_available  if (data.key?(:luxury_suites_available)) %>
		<%= render 'room_details.html', data: data, room_val: :presidential_suites_available  if (data.key?(:presidential_suites_available)) %>
		<% %>
	</div> 
<% elsif (data[:response] == "Error") %>
	<div>
		<%= data[:message]%>
	</div>
<% end %>
<%if logged_in? %>
  <div class="center row">
    <%= f.submit "Book Your Room", class: "btn btn-primary" %>
  </div>
<% end %>
<% end %>

    <script type="text/javascript">
    	$(function(){
    		$('input[type="radio"]').on('click change', function() {
    		$("#room_id").val($(this).val());
});
			});
    </script>